@using Exercitium.ViewModels;
@model List<UserRolesViewModel>

<h1>User Roles</h1>

<table class="table">
    <tr>
        <th>User Id</th>
        <th>User Name</th>
        <th>Roles</th>
    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.UserId</td>
            <td>@user.Email</td>
            <td>@string.Join(", ", user.Roles)</td>
        </tr>
    }
</table>